<div>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Give book</h3>
  </div>
  <fieldset class="modal-search">
    <div class="row">
      <div class="col-md-3">
        <label for="title">Title</label>
        <input name="title" id="title" ng-model="booksSearch.title" type="text" class="form-control" placeholder="Book title">
      </div>
      <div class="col-md-3">
        <label for="author">Author</label>
        <input name="author" id="author" ng-model="booksSearch.author" type="text" class="form-control" placeholder="Book author">
      </div>
      <div class="col-md-3">
        <label for="publishYear">Publish year</label>
        <input name="publishYear" id="publishYear" ng-model="booksSearch.publishYear" type="number" class="form-control" placeholder="Publish year">
      </div>
      <div class="col-md-3">
        <label for="classNumber">For which class</label>
        <input name="classNumber" id="classNumber" ng-model="booksSearch.classNumber" type="number" class="form-control" placeholder="Class number">
      </div>
      <div class="col-md-2" style="padding-top: 8px">
        <button type="submit" class="btn btn-primary" ng-click="search(searchBook)">
          Search
        </button>
      </div>
    </div>
  </fieldset>
  <hr>
  <div class="modal-body" id="modal-body">
    <table ng-show="!vm.loading" class="table table-bordered table-striped">

      <thead>
        <tr>
          <td>
            Title
          </td>
          <td>
            Author
          </td>
          <td>
            Year Published
          </td>
          <td>
            Class Number
          </td>
          <td>
            Action
          </td>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="book in allBooks">
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.publishYear }}</td>
          <td>{{ book.classNumber }}</td>
          <td>
            <a class="btn btn-default" ng-click="vm.giveBook(book.id)">Give book</a>
          </td>
        </tr>
      </tbody>
    </table>

    <div ng-show="vm.loading" class="empty-state" style="margin-bottom: 16px">
      <i id="spinner" class="fa fa-cog fa-spin"></i>
    </div>

    <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" ng-change="pageChanged()"
      num-pages="numPages"></ul>

  </div>
  <div class="modal-footer">
    <button ng-disabled="loading" class="btn btn-warning" type="button" ng-click="vm.cancel()">
      Close
    </button>
  </div>
</div>