<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Create Book</h3>
</div>
<div class="modal-body" id="modal-body">
    <form name="bookForm">
        <div class="row">
            <div class="col-md-6">
                <label for="title">Title</label>
                <input name="title" id="title" ng-model="newBook.title" type="text" class="form-control"
                       placeholder="Book title" required
                       ng-class="{'has-error' : 'bookForm.$error.$invalid'}">
            </div>
            <div class="col-md-6">
                <label for="author">Author</label>
                <input name="author" id="author" ng-model="newBook.author" type="text" class="form-control"
                       placeholder="Book author" required>
            </div>
            <div class="col-md-6">
                <label for="publishYear">Publish year</label>
                <input name="publishYear" id="publishYear" ng-model="newBook.publishYear" type="number"
                       class="form-control" placeholder="Publish year" required>
            </div>
            <div class="col-md-6">
                <label for="amount">Amount</label>
                <input name="amount" id="amount" ng-model="newBook.count" type="number" class="form-control"
                       placeholder="Amount of books" required>
            </div>
            <div class="col-md-6">
                <label for="classNumber">For which class</label>
                <input name="classNumber" id="classNumber" ng-model="newBook.classNumber" type="number"
                       class="form-control" placeholder="Class number">
            </div>
            <div class="col-md-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="enable" ng-model="newBook.enable">Make available
                        </label>
                </div>
            </div>
    </form>
</div>
<div class="modal-footer">
    <button ng-disabled="loading" class="btn btn-primary" type="submit" ng-click="ok(bookForm)">
        Create
        <spinner show="loading" delay="200"></spinner>
    </button>
    <button ng-disabled="loading" class="btn btn-warning" type="button" ng-click="vm.cancel()">
        Close
    </button>
</div>